ion-item{
  font-size: 1em;
}
ion-label{
  padding-top: 0px;
  padding-bottom: 0px;
}
ion-radio{
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-radio input{
  height: 24px;
}

.item{
  padding-left: 5px;
  min-height: 24px;
}
.item-md .radio-md{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.label-md{
  font-size: .8em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.label-ios{
  font-size: .8em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.radio-ios{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.ui.selection.dropdown {
  min-width: 130px !important;
  max-width: 165px !important;
  padding: 3px;
  .menu .item{
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
}